.container {
  margin: 100px 0;
  width: 80%;
}

.card {
  margin: 0 2% !important;
}

.infected {
  border-bottom: 10px solid rgba(0, 132, 161, 0.5);
}

.recovered {
  border-bottom: 10px solid rgba(129, 137, 78, 0.5);
}

.deaths {
  border-bottom: 10px solid rgba(229, 89, 130, 0.5);
}

@media (max-width: 770px) {
  .card {
    margin: 3% 0 !important;
  }
}
